<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
{#/*#}
{#    객체 목록을 Object_list로 표현한다면,#}
{#    서로 다른 객체 목록은 어떻게 구분하는가??#}
{#    (2개 이상의 객체 목록을 어떻게 구분하나?)#}
{##}
{#    객체를 Object로 표현한다면#}
{#    서로 다른 객체는 어떻게 구분하는가?#}
{#*/#}
<body>
    <a href="{% url 'new' %}">추가</a>
{#    object_list = 지정한 모델로 만들어진 모든 객체들의 목록 #}
    {% for blog in object_list %}
        <h2>{{ blog.title }}</h2>
        <h5>{{ blog.created_at }}</h5>
        <h5>{{ blog.body }}</h5>
        <a href="{% url 'detail' blog.id %}">자세히 보기</a>
        <a href="{% url 'change' blog.id %}">수정</a>
        <a href="{% url 'del' blog.id %}">삭제</a>
        <br>
    {% endfor %}
</body>
</html>